@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  box-sizing: border-box; }

p {
  color: #4c1b02;
  margin: 5px; }

body {
  min-height: auto; }

.subtitulo-main {
  text-align: center;
  margin: 10px;
  padding: 10px;
  height: 150px;
  width: 90vw auto;
  position: relative;
  top: 12vh; }
  .subtitulo-main p {
    margin: 10px;
    padding: 10px; }
  .subtitulo-main h3 {
    color: #a50104;
    margin: 15px;
    font-size: 22px;
    font-weight: bold; }

/* Media para tamaño chico */
@media (max-width: 480px) {
  .subtitulo-main {
    margin: 10px;
    padding: 10px;
    height: 250px;
    width: 90vw auto; }
    .subtitulo-main p {
      margin: 10px;
      padding: 10px; } }

a {
  text-decoration: none;
  color: #a50104;
  font-weight: bold; }

li {
  padding: 10px;
  margin: 10px;
  list-style: none;
  font-size: 18px; }

.navbar {
  background-color: #fcba04;
  width: 100vw;
  height: 12vh; }

.navbar-collapse {
  background-color: #fcba04;
  border-radius: 5px;
  width: 100vw; }

.header__img {
  position: sticky;
  top: 0px;
  left: 50vw;
  object-fit: cover;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  margin-top: 10px; }

.nav-item a {
  color: #a50104;
  font-weight: bold;
  text-decoration: none; }

.nav-item-activo {
  background-color: blanchedalmond;
  padding: 10px;
  border-radius: 10px; }

.nav-item a:hover {
  color: blanchedalmond;
  font-weight: bold; }

footer {
  background-color: #fcba04;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 0; }
  footer h4 {
    margin: 1px;
    font-size: small; }
  footer ul {
    margin: 1px; }

.footer__redes {
  margin: 0px;
  padding: 0px;
  margin-left: 10px;
  margin-right: 20px;
  display: inline; }

.footer__redes a {
  color: #a50104;
  font-weight: bold;
  text-decoration: none;
  font-size: small; }

.footer__redes a:hover {
  color: blanchedalmond; }

.formulario__text {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #a50104;
  color: #590004; }

legend {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #a50104; }

.boton {
  margin: 15px;
  padding: 3px;
  color: black;
  background-color: rgba(165, 1, 4, 0.611);
  border-radius: 5px;
  font-weight: bold;
  border-color: rgba(165, 1, 4, 0.725);
  width: 150px; }

label {
  color: #590004; }

/* Responsive para Pantallas Medianas */
/* Media para tamaño chico */
/* BANNER HERO */
.main-index {
  min-height: 90vh; }

.flyer-principal {
  height: 600px;
  padding: 0;
  background-image: url(../img/Fondo.png);
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column; }

.flyer-principal--texto {
  display: block;
  width: 30%;
  text-align: end;
  font-size: 20px;
  font-weight: bold;
  margin-top: 50px;
  margin-right: 20px; }

.flyer-principal h1 {
  display: block;
  width: 30%;
  text-align: end;
  font-size: 50px;
  margin: 20px;
  justify-content: space-evenly; }

/* Css GRID */
.grilla-index {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-template-areas: "Subtitulo-principal Subtitulo-principal" "Transportista Transportista-img" "Dador-img Dador" "beneficios beneficios";
  align-content: center;
  align-items: center;
  height: 1650px;
  justify-content: space-evenly;
  margin: 15px;
  margin-left: auto;
  width: 90vw; }

.Subtitulo-principal {
  grid-area: Subtitulo-principal;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 30px;
  padding: 10px;
  height: 200px;
  width: 90vw; }
  .Subtitulo-principal p {
    margin: 10px;
    padding: 10px; }

.Transportista {
  grid-area: Transportista;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  width: 45vw;
  margin: 40px;
  padding: 50px;
  height: 150px; }
  .Transportista p {
    width: 40vw;
    text-align: center;
    height: fit-content; }

.Transportista-img {
  grid-area: Transportista-img;
  object-fit: contain;
  justify-self: center; }
  .Transportista-img img {
    max-height: 300px;
    max-width: 350px;
    border-radius: 10px; }

.Dador-img {
  grid-area: Dador-img;
  object-fit: contain;
  justify-self: center;
  height: fit-content; }
  .Dador-img img {
    height: 250px;
    width: 350px;
    border-radius: 10px; }

.Dador {
  grid-area: Dador;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  width: 45vw;
  padding: 50px;
  height: 150px; }
  .Dador p {
    width: 40vw;
    text-align: center;
    height: fit-content; }

.beneficios {
  grid-area: beneficios;
  display: flex;
  margin: 50px;
  padding: 50px;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  width: 90vw; }
  .beneficios img {
    height: 250px;
    width: 200px; }

.carta-beneficios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.carta-beneficios:hover {
  transform: scale(1.1);
  font-weight: bold;
  background-color: rgba(234, 195, 195, 0.159);
  border-radius: 15px; }

.section__beneficios--lista {
  display: flex;
  flex-direction: row;
  margin: 30px;
  height: 70vh;
  text-align: center;
  justify-content: space-around; }

/* Responsive intermedio antes de Pantallas Medianas */
@media (max-width: 900px) {
  .Transportista-img img {
    max-height: 200px;
    max-width: 250px; }
  .Dador-img img {
    max-height: 200px;
    max-width: 250px; } }

/* Responsive para Pantallas Medianas */
@media (max-width: 768px) {
  .flyer-principal h1 {
    font-size: 35px;
    margin-bottom: 0px; }
  h3 {
    margin: 10px; }
  .grilla-index {
    height: 1550px;
    margin: 15px;
    width: 95vw; }
  .Subtitulo-principal {
    height: 25vh;
    width: 90vw;
    margin: 15px auto; }
  .Transportista {
    width: 100%;
    margin: 10px;
    padding: 10px;
    height: 250px;
    margin-left: 10%; }
    .Transportista p {
      height: 100%;
      width: 50vw;
      text-align: center;
      height: fit-content; }
  .beneficios {
    height: 70vh;
    width: 90vw;
    margin: auto;
    text-align: center; }
    .beneficios img {
      height: 150px;
      width: 100px; }
    .beneficios .boton-media {
      font-size: 10px;
      font-weight: bold;
      border-color: rgba(165, 1, 4, 0.725);
      width: 109px; } }

/* Media para tamaño chico */
@media (max-width: 620px) {
  .flyer-principal {
    background-size: cover;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
    height: 55vh; }
  .flyer-principal h1 {
    display: none; }
  .flyer-principal--texto {
    display: none; }
  h3 {
    margin: 10px; }
  .grilla-index {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: max-content;
    justify-content: space-evenly;
    margin: 15px;
    width: 90vw; }
  .Subtitulo-principal {
    width: 100%;
    margin: 30px;
    margin-left: auto;
    padding: 10px;
    height: 250px; }
    .Subtitulo-principal p {
      margin: 10px;
      padding: 10px; }
  .Transportista {
    text-align: center;
    margin-top: 50px;
    padding: 50px;
    height: 150px;
    border-top: dotted; }
    .Transportista p {
      width: 90vw;
      height: 600px;
      margin: 0px;
      padding: 1px; }
  .Transportista-img {
    border-bottom: dotted; }
    .Transportista-img img {
      height: 35vh;
      width: 250px;
      margin: 30px; }
  .Dador-img {
    grid-area: Dador-img;
    object-fit: contain;
    justify-self: center;
    height: fit-content; }
    .Dador-img img {
      height: 35vh;
      width: 250px;
      margin: 30px; }
  .Dador {
    text-align: center;
    margin-top: 50px;
    padding: 10px;
    height: 150px; }
    .Dador p {
      width: 80vw;
      height: 600px;
      margin: 0px;
      padding: 15px;
      border-bottom: dotted; }
  .beneficios {
    margin: 10px;
    padding: 10px;
    height: 100vh; }
    .beneficios img {
      height: 200px;
      width: 150px; }
  .carta-beneficios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .carta-beneficios:hover {
    transform: scale(1.1);
    font-weight: bold;
    background-color: rgba(234, 195, 195, 0.159);
    border-radius: 15px; }
  .section__beneficios--lista {
    display: flex;
    flex-direction: column;
    margin: 30px;
    height: 70vh;
    text-align: center;
    justify-content: space-around; } }

@media (max-width: 420px) {
  .flyer-principal {
    background-size: 150% 100%; }
  .beneficios {
    margin: 10px;
    padding: 10px;
    height: 100vh; }
    .beneficios img {
      height: 150px;
      width: 100px; }
  .carta-beneficios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .carta-beneficios:hover {
    transform: scale(1.1);
    font-weight: bold;
    background-color: rgba(234, 195, 195, 0.159);
    border-radius: 15px; }
  .section__beneficios--lista {
    display: flex;
    flex-direction: column;
    margin: 30px;
    height: 70vh;
    text-align: center;
    justify-content: space-around; } }

.main-funciones {
  min-height: 220vh; }
  .main-funciones h1 {
    font-weight: bold; }

.conjunto-funciones {
  position: relative;
  top: 190px; }

.section__funciones {
  margin: 20px;
  padding: 20px;
  text-align: center; }

/* Responsive para Pantallas Medianas */
@media (max-width: 768px) {
  .main-funciones {
    min-height: 250vh; } }

/* Media para tamaño chico */
@media (max-width: 480px) {
  .main-funciones {
    min-height: 310vh; }
  .conjunto-funciones {
    position: relative;
    top: 280px; }
  .section__funciones {
    margin: 10px;
    padding: 10px;
    text-align: center;
    height: auto;
    width: 100vw; } }

.main-aranceles {
  height: 300vh;}

.conjunto-clientes {
  position: relative;
  top: 400px; }

.section__clientes {
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center; }
  .section__clientes h2 {
    margin: 10px;
    text-align: center;
    font-weight: bold; }
  .section__clientes h3 {
    color: #a50104;
    margin: 15px;
    font-size: 22px;
    font-weight: bold; }

.section__clientes li {
  font-size: 16px;
  list-style: circle;
  padding: 0px;
  margin-left: 50px; }

.subtitulo-aranceles {
  text-align: center;
  margin: 10px;
  padding: 10px;
  height: 300px;
  width: 90vw auto;
  position: absolute;
  top: 12vh; }
  .subtitulo-aranceles h1 {
    color: black;
    font-weight: bold; }
  .subtitulo-aranceles p {
    margin: 10px;
    padding: 10px; }
  .subtitulo-aranceles h3 {
    color: #a50104;
    margin: 15px;
    font-size: 22px;
    font-weight: bold; }

.titulo-table {
  text-align: center;
  padding: 10px; }

.table {
  text-align: center; }

/* Responsive para Pantallas intermedias antes que Medianas */
@media (max-width: 920px) {
  .main-aranceles {
    height: 320vh; }
  .conjunto-clientes {
    top: 70vh; } }

/* Responsive para Pantallas Medianas */
@media (max-width: 768px) {
  .main-aranceles {
    height: 300vh; }
  .conjunto-clientes {
    top: 70vh; }
  .section__clientes h2 {
    margin: 10px;
    text-align: center;
    height: 20px;
    padding: 40px; } }

/* Media para tamaño chico */
@media (max-width: 480px) {
  .main-aranceles {
    height: 320vh; }
  .conjunto-clientes {
    top: 90vh; }
  .section__clientes {
    height: 70vh;
    justify-content: flex-end; }
    .section__clientes h2 {
      margin: 10px;
      text-align: center;
      height: 25px;
      font-size: 10px; }
    .section__clientes p {
      height: 20%; }
    .section__clientes li {
      font-size: 16px;
      list-style: circle;
      padding-top: 15px;
      margin-left: 50px; }
  .clientes-oro {
    padding-top: 30px; } }

.main-preguntasFrecuentes {
  height: 2000px; }
  .main-preguntasFrecuentes h1 {
    font-weight: bold; }

.preguntas-frecuentes {
  margin: 20px;
  padding: 20px;
  text-align: center;
  position: relative;
  top: 100px; }

.preguntas {
  font-weight: bold;
  list-style: decimal; }
  .preguntas a {
    text-decoration: none;
    color: #a50104; }
  .preguntas a:hover {
    color: blanchedalmond;
    font-weight: bold; }

.preguntas p {
  font-weight: lighter;
  margin: 10px; }

.formulario-preguntas {
  width: 550px;
  height: auto;
  padding: 30px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
  margin: 0 auto;
  border-radius: 10px;
  border: 3px solid #a50104;
  align-content: center; }

.formulario__textarea--consulta {
  width: 100%;
  height: 250px;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #a50104;
  color: #590004;
  display: block;
  text-align: start; }

/* Responsive para Pantallas Medianas */
@media (max-width: 768px) {
  .main-preguntasFrecuentes {
    height: 2500px; }
  .formulario-preguntas {
    width: 90%; } }

/* Media para tamaño chico */
@media (max-width: 480px) {
  .main-preguntasFrecuentes {
    height: 2900px; }
  .formulario-preguntas {
    width: 90%; } }

.main-miCuenta {
  height: 220vh; }
  .main-miCuenta h1 {
    font-weight: bold; }

.formulario-ingresar {
  width: 550px;
  height: auto;
  padding: 30px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 10px;
  border: 3px solid #a50104;
  position: relative;
  top: 100px; }
  .formulario-ingresar a {
    text-decoration: none;
    color: #a50104; }
  .formulario-ingresar a:hover {
    color: blanchedalmond;
    font-weight: bold; }

.formulario-crear {
  width: 550px;
  height: auto;
  padding: 30px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 10px;
  border: 3px solid #a50104;
  position: relative;
  top: 100px; }

@media (max-width: 768px) {
  .formulario-ingresar, .formulario-crear {
    width: 90%; } }

/* Media para tamaño chico */
@media (max-width: 480px) {
  .main-miCuenta {
    height: 190vh; }
  .formulario-ingresar, .formulario-crear {
    width: 90%; } }
